/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #384f60;
}

body {
    font-family: 'Nunito', sans-serif;
}


.float-left {
    float: left;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container-80 {
    width: 80%;
    margin: 0 auto;
}

.container-50 {
    width: 50%;
}

.font-12,
.footer-list a,
.footer-container .contact {
    font-size: 12px;
}

.font-28 {
    font-size: 28px;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.list-block li {
    display: block;
    text-align: left;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* header */
header {
    position: relative;
}

/* menu-bar link-bar common */
.lang-container,
.logo-container {
    width: 20%;
}

.lang-container,
.btn-container,
.logo-container,
.link-container {
    margin: 30px 0;
}

.btn-container,
.link-container {
    width: 80%;
    text-align: right;
}

/* btn */
.btn {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #fe775a;
    border-radius: 5px;
}

.btn-large {
    margin: 0;
    padding: 15px 30px;
}

.btn-log {
    background-color: #fafcfe;
    color: #fe775a;
}

.btn-log:hover {
    background-color: #fe775a;
    color: white;
}

.btn-free {
    background-color: #fe775a;
    color: #fafcfe;
}

.btn-free:hover {
    background-color: #fafcfe;
    color: #fe775a;
}

/* menu-bar */
.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

.lang-container {
    cursor: pointer;
}

.lang-container .down {
    border-right: 1px solid #384f60;
    margin-right: 20px;
    padding-right: 20px;
}

.search {
    color: #47bccf;
}

/* link-bar */
.link-bar {
    margin-top: 83px;
}

.link-container li {
    padding: 0 10px;
    cursor: pointer;
}

/* jumbotron */
.jumbotron {
    width: 100%;
    
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: center;
}

.jumbotron,
.jbt-foot {
    border-bottom: 2px solid #384f60;
}

.jbt-foot {
    height: 80px;
    background-color: #afebe4;
}

.title {
    padding-top: 50px;
}

.title > h1 {
    font-size: 45px;
}

.title > p {
    margin: 30px 0 50px 0;
}

.title > .caption {
    margin: 45px 0 90px 0;
}

/* main */
main {
    background-color: #f4f9fd;
}


/* main container */
.main-container > section {
    border-radius: 3px;
}

.main-title {
    width: 100%;
    margin-top: 50px;
    padding: 0 110px;
}

.main-title > img {
    width: 25%;
}

.main-title > p {
    margin: 25px 0 ;
}

.hub-space {
    width: 100%;
    margin: 40px 0 0 0;
    padding: 50px 60px;
    background-color: white;
    box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
}

.hub-button {
    width: 25%;
    margin-right: 10%;
}

.hub-button > img {
    width: 50%;
}

.hub-button > a {
    margin-top: 20px;
    display: inline-block;
}

.hub-form {
    width: 65%;
}

.hub-form > p {
    margin: 30px 0 20px 0;
}

.form {
    width: 100%;
    margin-bottom: 20px;
}

.hub-form > .form > .form-title {
    width: 25%;
}

.hub-form > .form > .signature {
    width: 75%;
    padding: 10px 30px;
}

.hub {
    width: calc(33% - 30px);
    margin: 50px 0;
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.22);
}

.hub-middle {
    margin: 50px;
}

.list-inline li {
    padding-right: 20px;
    font-size: 16px;
}

.check {
    padding: 0 3px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #fe775a;
    color: white;
}

.hub > img {
    height: 100px;
    padding: 10px 0;
}

.hub > p {
    margin: 25px 0;
}

.hub > hr {
    margin: 50px 0 30px 0;
}

.hub > .list-block {
    margin: 30px 0;
}

.list-block .check {
    margin-right: 15px;
}

/* service container */
.service-container {
    background-image: linear-gradient(to right,#00aab6, #00bba7);
}

.gradient {
    padding: 50px 0;
}

.gradient > p {
    margin: 30px 0;
}

.table-container {
    margin: 70px auto 0px auto;
}

.table {
    width: 25%;
    padding: 20px 0;
    border-right: 1px solid #a7e1e5;
    border-bottom: 1px solid #a7e1e5;
}

.table > * {
    color: white;
}

.table > h2 {
    margin: 20px 0;
    font-size: 32px;
}

.right-none {
    border-right: 0;
}

.bottom-none {
    border-bottom: 0;
}

/* partner container */
.partner-container {
    margin: 50px auto 0 auto;
}

.data-partner {
    width: 30%;
    padding: 20px 65px;
}

.data-partner > h2 {
    font-size: 40px;
}

.data-partner span {
    font-weight: 700;
}

.name-partner {
    width: 70%;
}

.row {
    width: 100%;
    height: 50%;
    line-height: 100px;
}

.row > img {
    width: 100px;
    margin-right: 20px;
}

.move-top {
    position: relative;
    top: 7px;
}

.move-bottom {
    position: relative;
    bottom: 12px;
}

.work {
    margin-top: 50px;
}

.work-us > h2 {
    font-size: 35px;
}

.work-img {
    text-align: right;
}

.work-img > img {
    width: 50%;
}

/* footer */
footer {
    background-color: #32495b;
}

/* footer container */
.footer-container {
    padding: 30px 0;
}

/* list container */
.list-container {
    width: 100%;
}

.footer-list {
    width: calc(25% - 38px);
}

.footer-list * {
    padding-bottom: 5px;
    color: #dadee0;
}

.sx {
    margin: 0 25px 0 50px;
}

.dx {
    margin: 0 50px 0 25px;
}

/* channels */
.channels {
    position: relative;
}

.channels > .contact {
    position: absolute;
    top: 0;
    right: 65px;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #dadee0;
    border-radius: 5px;
    background-color: #dadee0;
    color: #32495b;
}

.contact:hover {
    border: 1px solid #dadee0;
    background-color: #32495b;
    color: #dadee0;
}

.channels > .icon {
    position: absolute;
    top: 30px;
    right: 85px;
}

.channels i {
    padding: 0 5px;
    color: #dadee0;
}

/* languages */
.languages {
    margin-top: 110px;
    border-bottom: 1px solid #dadee0;
}

.languages li {
    padding: 0 10px 20px 10px;
    color: #dadee0;
    cursor: pointer;
}

/* term-container */
.term-container {
    width: 100%;
    margin-top: 30px;
}

.footer-logo > h4 {
    color: #dadee0;
}

.term {
    text-align: right;
}

.term li {
    padding: 0 10px 0 10px;
}

.term a {
    color: #dadee0;;
}